.blocks-widget-container {
  padding: 0 2em;
}

body.cms-ui.has-toolbar.has-sidebar .blocks-widget-container > .ui.container {
  width: unset !important;
}

body.cms-ui .blocks-widget-container .toolbar-inner .ui.input {
  flex: 1 1 auto;
}

body.cms-ui
  .blocks-widget-container
  .toolbar-inner
  .ui.input
  input[type='text'] {
  height: unset;
  margin-top: 0 !important;
}

body.cms-ui
  .blocks-widget-container
  .toolbar-inner
  .ui.input
  input[type='text']::placeholder {
  font-size: 0.64rem;
}

body.cms-ui .blocks-widget-container .block.video center {
  width: 100%;
}

.cms-ui .blocks-widget-container .block.table .toolbar {
  margin-right: 0;
  z-index: 2;
}

.cms-ui .blocks-widget .wrapper:not(.drag) {
  align-items: flex-start;
  padding-top: 1rem;
}
